In [1]:
import pandas as pd

# Data Description

In [4]:
train_df = pd.read_csv('.../train.csv')
test_df = pd.read_csv('.../test.csv')

In [15]:
train_df.shape

(1804874, 45)

In [16]:
train_df.head(3)

,id,target,comment_text,severe_toxicity,obscene,identity_attack,insult,threat,asian,atheist,...,article_id,rating,funny,wow,sad,likes,disagree,sexual_explicit,identity_annotator_count,toxicity_annotator_count
0,59848,0.0,"This is so cool. It's like, 'would you want yo...",0.0,0.0,0.0,0.0,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
1,59849,0.0,Thank you!! This would make my life a lot less...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
2,59852,0.0,This is such an urgent design problem; kudos t...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4

target - our target value
Other features define different

In [13]:
pd.DataFrame(train_df.dtypes).head(10)

                       0
id                 int64
target           float64
comment_text      object
severe_toxicity  float64
obscene          float64
identity_attack  float64
insult           float64
threat           float64
asian            float64
atheist          float64

In [ ]:
t